@import '~antd/es/style/themes/default.less';

.pageContainer {
  padding: 20px;
  :global {
    .ant-pro-page-container-children-content {
      margin: 24px 0;
    }
  }
}

.headerList {
  margin-bottom: 4px;
  :global {
    .ant-descriptions-item-label {
      color: #9699a6;
    }

    .ant-descriptions-item-content {
      color: #d5d8df;
    }
  }

  .stepDescription {
    position: relative;
    left: 38px;
    padding-top: 8px;
    font-size: 14px;
    text-align: left;

    > div {
      margin-top: 8px;
      margin-bottom: 4px;
    }
  }
}

.proForm {
  :global {
    .ant-space {
      display: block;
    }

    .ant-space-item {
      margin-bottom: 24px;
    }
  }

  //region TODO: BasicInfo表单样式
  .proFormBasicInfo {

  }
  //endregion TODO: BasicInfo表单样式

  //region TODO: Cargo表单样式
  .proFormCargo {
    .label {
      label {
        display: block;
        margin-bottom: 8px;
      }
      :global {
        .ant-input-number-group-wrapper {
          margin-bottom: 24px;
          width: 100%;
        }
      }
    }

    .proFormTextContainer {
      display: flex;
      :global {
        .ant-form-item:first-child {
          margin-right: 5px;
        }
      }
    }
  }
  //endregion TODO: Cargo表单样式

  //region TODO: Payment表单样式
  .proFormPayment {
    .siteSpace {
      display: inline-flex !important;
      gap: 0 !important;

      .siteSpaceSpan {
        display: inline-block;
        border-top: #797979 dashed 1px;
        width: 30px;
      }

    }
  }
  //endregion TODO: Payment表单样式

}

