@import '~antd/es/style/variable.less';

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}
.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left: unset;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

// TODO: 编辑框中 ant-space 下面的距离
.antd-pro-table-ant-space{
  .ant-table{
    .ant-table-tbody {
      .ant-space {
        gap: 8px!important;
      }
    }
  }
}

.auto-antd-layout-header{
  height: 24px!important;
  line-height: 24px!important;
  padding-left: 8px!important;
  background: #fff!important;
}

.ant-right-header-tags-modal-form{
  top: 58px!important;
  margin: 0 60px!important;
  .ant-form{
    margin-left: 0!important;
  }
  .ant-pro-card-body{
    padding: 0!important;
    // 隐藏选中的分组行
    .ant-pro-table-alert{
      display: none;
    }
    .ant-table{
      .ant-table-container{
        .ant-table-thead{
          tr{
            &:nth-child(2) {
              // 选择分组，隐藏添加按钮行
              td{
                // 隐藏第一个td
                &:first-child{
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
  .ant-btn-modal-group{
    border: 1px #fff dashed;
    width: 100%;
    margin-bottom: 5px;
  }
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}

// Compatible with IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}
